.about-banner {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.about-img {
  height: 300px;
  width: auto;
}

.about-title {
  color: #333;
}

.about-subtitle {
  color: #555;
}

.ab {
  color: #000;
}
